rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow anyone to read files
      allow read: if true;
      // Prevent anyone from writing files
      allow write: if false;
    }
  }
}
