@use '../variables/fonts.scss' as font;
@use '../variables/colors.scss' as colors;
@use '../variables/utils.scss' as util;

// Body styles
body {
    @include font.font-theme(default);
    font-size: font.default-font-size(xs);

    @media (min-width: 768px) {
        font-size: font.default-font-size(md);
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    h1 {
        font-size: font.responsive-font-title(xs);

        @media (min-width: 768px) {
            font-size: font.font-title(md);
        }
        margin: 0;
    }

    h2 {
        @include font.font-theme(subTitle); 
        font-size: font.responsive-sub-title(xs); // Call the function correctly
    
        @media (min-width: 768px) {
            font-size: font.responsive-sub-title(md);
        }

        @media (min-width: 992px) {
            font-size: font.responsive-sub-title(lg);
        }
        margin: 0;
    }

    .h3 {
        @include font.font-theme(default);
        font-size: font.responsive-font-h3(xs);
      
        @media (min-width: 768px) {
          font-size: font.responsive-font-h3(md);
        }
      
        @media (min-width: 992px) {
          font-size: font.responsive-font-h3(lg);
        }
      
        margin: 0;
      }

    p {
        margin: 0;
    }
}

//Navigation styles
@media (min-width: 992px) {
    .navbar {
        justify-content: center;
        .container {
            margin: 0;
            padding: 0;
        }
    }
}

.offcanvas { 
    .offcanvas-header {
        text-transform: uppercase;
        .tire-icon {  
            max-width: 100px;
            max-height: 100px;
            @media (min-width: 992px) {
                display: block; 
            }
        }
    }

    .offcanvas-body {
        .navbar-nav {
            flex-direction: column; 
            align-items: flex-start;
            padding: 0;

            @media(min-width: 992px) {
                flex-direction: row;
                align-items: center;
                width: 100%;
                padding: 0 1rem;
                .container {
                    padding: 0 !important;
                }
                .nav-link-group, .info {
                    display: flex;
                    align-items: center;

                    @media (min-width: 1200px) {
                        gap: 1rem;
                    }
                }

                .nav-link-group {
                    margin: 0 auto;
                }

                .info {
                    align-items: center;
                }


            }
            .navbar-brand {
                display: none;
                text-transform: uppercase;
                @media (min-width: 992px) {
                    display: flex;
                    align-items: center;
                    margin: 0;
                }

                .tire-image {
                    max-width: 200px;
                    max-height: 200px;
                }
            }

            .nav-link {
                @include util.link-hover-style();
            }

            .contact-btn { 
                flex: 1;  
                min-width: 150px; 
                @include util.button-style();
                font-weight: 700;
                margin-left: 0.5rem;

                @media(min-width: 992px) {
                    margin-left: 1rem;
                }

                @media (min-width: 1200px) {
                    margin: 0;
                }
            }
        }
    }
}
