@use '../variables/fonts.scss' as font;
@use '../variables/colors.scss' as colors;
@use '../variables/utils.scss' as util;
@import '../reset/reset.scss';

body {
    font-family: font.$defaultFont;
    // color: colors.$text-primary;
    .container {
      @include util.responsive-spacing(padding, -x, $gutter-map: util.$global-gutter-widths); // Apply horizontal padding
      @include util.responsive-spacing(padding, -y, $gutter-map: util.$global-gutter-widths); // Apply vertical padding
      max-width: 100%; // Ensure it doesn't exceed screen width
      margin: 0 auto;
    }
}

h1, h2, h3, h4, h5, h6 {
    @include font.font-theme(title);
    @include font.responsive-font-size(h1); // Adjust for each heading level
}

p {
    @include font.font-theme(default);
    @include font.responsive-font-size(p);
}

small {
    @include font.font-theme(default);
    @include font.responsive-font-size(small);
}

button, .button {
    @include font.font-theme(title);
    @include font.responsive-font-size(button);
    // Keep default alignment for buttons
}

a {
    @include font.font-theme(default);
    // Keep default alignment for links
}

.nav-link {
  padding: 0;
  margin: 0;
}