@use '../variables/fonts.scss' as font;
@use '../variables/colors.scss' as colors;
@use '../variables/utils.scss' as util;

.social-container {
    .social-row {
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        @media (min-width: 36rem) {
            flex-direction: row;
        }

        @media (min-width: 48rem) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 2rem;
        }

        @media (min-width: 75rem) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 3rem;
        }

        .card {
            border-radius: 0;
            border:none;

            @media (min-width: 36rem) {
                max-width: 10rem;
                height: 10rem;
            }

            @media (min-width: 48rem) {
                max-width: 14rem;
            }

            @media (min-width: 62rem) {
                max-width: 100%;
            }

            @media (min-width: 75rem) {
                height: 28rem;
            }

            .social-images {
                border-radius: 0;
                width: 100%;
                height: 100%;
            }
        }

        .social-btn {
            display: inline-block;
            width: auto;
            font-family: "Syne", serif;
            font-size: 1rem;
            letter-spacing: 0.01em;
            line-height: 1.5em;
            border: 1px solid colors.colorTheme(app-yellow);
            padding: 1rem 3rem;
            text-transform: uppercase;
            color:colors.colorTheme(app-yellow);
            text-decoration: none;
            text-align: center;
            &:hover {
                background-color: colors.colorTheme(app-black);
                color: colors.colorTheme(app-white);
            }

            @media (min-width: 48rem) {
                grid-column: 2;
            }

            @media (min-width: 75rem) {
                padding: 1.5rem 5rem;
                justify-self: center;
            }
        }
    }
}