@use '../../variables/colors.scss' as colors;
@use '../../variables/fonts.scss' as font;
@use '../../variables/utils.scss' as util;

.appt-container {
    background-image: url('../../../app/assets/images/nicecar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    background-position-y: 65%;

    @media (min-width: 62rem) {
        background-position-y: 45%;
        height: 50vh;
    }

    @media (min-width: 75rem) {
        height:60vh;
    }

    @media (min-width: 90rem) {
        height: 70vh;
    }

    @media (min-width: 100rem) {
        height: 75vh;
    }

    @media (min-width: 120rem) {
        height: 85vh;
    }


    .appt-row {
        gap: 1rem;
        padding: 1rem;
        justify-content: center;
        @media (min-width: 48rem) {
            flex-direction: column;
            align-items:start;
            padding: 2rem;
            gap: 1.5rem;
            justify-content: start;
        }

        @media (min-width: 62rem) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
            height: 100%;
        }

        @media (min-width: 100rem) {
        }

        .appt-title, .appt-text {
            margin: 0;
            padding: 0;
            text-align: center;
        }

        .appt-title {
            font-family: "Syne", serif;
            font-weight: 700;
            line-height: 1.1em;
            letter-spacing: -0.02em;
            color: colors.colorTheme(app-white);
            text-transform: uppercase;
            font-size: 1.5rem;

            @media (min-width: 36rem) {
                max-width: 20rem;
            }

            @media (min-width: 48rem) {
                font-size: 2.25rem;
                max-width: 30rem;
                text-align: start;
            }

            @media (min-width: 62rem) {
                align-self: end;
                justify-self: center;
                text-align: center;
            }

            @media (min-width: 75rem) {
                font-size: 3rem;
                max-width:unset;
            }

            @media (min-width: 90rem) {
                padding: 1rem;
            }

            @media (min-width: 100rem) {
                padding: 0 4rem;
            }

            @media (min-width: 120rem) {
                padding: 0 5rem;
                max-width: 50rem;
            }
        }

        .appt-text {
            font-family: 'Libre Baskerville', serif;
            color: colors.colorTheme(app-white);
            letter-spacing: 0.1em;
            line-height: 1.5em;
            font-size: 0.875rem;
            font-weight: 500;
            max-width: 22rem;

            @media (min-width: 48rem) {
                font-size: 1rem;
                max-width: 26rem;
                line-height: 1.2;
                text-align: start;
            }

            @media (min-width: 62rem) {
                grid-row: 2;
                grid-column: 2;
                align-self: center;
                justify-self: center;
            }
        }

        .appt-btn {
            background-color: transparent;
            color: colors.colorTheme(app-yellow); 
            border: 1px solid colors.colorTheme(app-yellow);
            border-radius: 0;
            text-transform: uppercase;
            text-align: center;
            font-weight: 500;
            letter-spacing: 0.1em;
            font-family: "Syne", serif; 
            font-size: 1rem;
            max-width: 20rem;
            padding: 1rem 1.5rem;
            &:hover {
                background-color: colors.colorTheme(app-red);
                color: colors.colorTheme(app-white);
            }

            @media (min-width: 62rem) {
                grid-row: 2;
                grid-column: 1;
                align-self: center;
                justify-self: center;
            }
        }
    }
}