@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet');
.contact-container {
  padding: 0;
  margin: 0;
}
.contact-container .contact-card {
  display: grid;
}
.contact-container .contact-card .contact-image {
  min-height: 400px;
}
.contact-container .contact-card .contact-form {
  margin: 0;
  padding: 0;
}
.contact-container .contact-card .contact-form .contact-title {
  color: #ffffff;
  text-transform: capitalize;
  padding: 1rem;
}
.contact-container .contact-card .contact-form .form {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  justify-content: center;
  padding: 0 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.contact-container .contact-card .contact-form .form-row {
  display: grid;
  grid-template-rows: repeat(2, auto);
  text-align: start;
  margin: 0 !important;
  padding: 0;
  gap: 0.5rem;
}
.contact-container .contact-card .contact-form .form-row .form-label {
  margin: 0;
  padding: 0;
  color: #F2BA31;
  text-transform: capitalize;
}
.contact-container .contact-card .contact-form .form-row .field-col {
  display: grid;
  position: relative;
  gap: 0.5rem;
  padding: 0;
}
.contact-container .contact-card .contact-form .form-row .field-col .form-control {
  border: 1px solid #000000;
  border-radius: 0;
  background-color: transparent;
  color: #ffffff;
}
.contact-container .contact-card .contact-form .form-row .field-col .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 0.75;
  text-transform: capitalize;
}
.contact-container .contact-card .contact-form .form-row .field-col .form-control::placeholder {
  color: #ffffff;
  opacity: 0.75;
  text-transform: capitalize;
}
.contact-container .contact-card .contact-form .form-row .field-col .text-danger {
  position: absolute;
  top: 2rem;
  justify-self: end;
  padding-right: 0.5rem;
  text-transform: capitalize;
}
.contact-container .contact-card .contact-form .form-row .field-col .subject-error {
  position: absolute;
  color: #E41B17;
  top: 2rem;
  justify-self: end;
  text-transform: capitalize;
  padding-right: 1rem;
}
.contact-container .contact-card .contact-form .form-row .field-col .message-error {
  position: absolute;
  color: #E41B17;
  top: 2rem;
  justify-self: end;
  padding-right: 1rem;
  text-transform: capitalize;
}
.contact-container .contact-card .contact-form .form-row .message-group .message {
  max-height: 5rem;
}
.contact-container .contact-card .contact-form .subject-group {
  grid-column: 1/span 2;
}
.contact-container .contact-card .contact-form .btn-group {
  grid-column: 1/span 2;
  align-self: center;
  display: flex;
  justify-content: center;
}
.contact-container .contact-card .contact-form .btn-group .contact-btn {
  border: none;
  background-color: #000000;
  color: #F2BA31;
}
.contact-container .contact-card .contact-form .btn-group .contact-btn:hover {
  background-color: #F2BA31;
  color: #000000;
  border: none;
  font-family: "Oxanium", serif;
}/*# sourceMappingURL=contact.css.map */