@use 'sass:math';
@use 'sass:color';
@use '../variables/colors.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet');

// Font Families
$defaultFont: 'Oxanium', serif;
$Title: 'Orbitron', sans-serif;

// Font Theme Map

$font-themes: (
    default: (
        font-family: $defaultFont,
        font-weight: 400,
        line-height: 166.667%,
        color: colors.colorTheme(black),
    ),

    title: (
        font-family: $Title,
        font-weight: 700,
        letter-spacing: 1.286px,
        line-height: 1,
        color: colors.colorTheme(app-yellow),
        text-shadow: 0px 2px 4px rgba(0,0,0,0.8),
    ),

    subTitle: (
        font-family: $defaultFont,
        font-weight: 500,
        letter-spacing: 0.0625rem,
        color: colors.colorTheme(black),
        
    )
);

@mixin font-theme($theme-name) {
    $theme: map-get($font-themes, $theme-name);
  
    @if $theme {
      font-family: map-get($theme, font-family);
      font-weight: map-get($theme, font-weight);
      line-height: map-get($theme, line-height);
      letter-spacing: map-get($theme, letter-spacing);
      color: map-get($theme, color);
    } @else {
      @error "No font theme found for `#{$theme-name}`";
    }
}

// Responsive font size functions 

$title-font-sizes: (
  xs: 1.5rem, 
  sm: 2rem, 
  md: 3rem,
  lg: 4rem,
  xl: 5rem,   
);

@function font-title($breakpoint) {
  @return map-get($title-font-sizes, $breakpoint);
}

$default-font-size: (
    xs: 0.9375rem,
    md: 1.125rem,
);

@function default-font-size($breakpoint) {
    @return map-get($default-font-size, $breakpoint);
}

$subTitle: (
    xs: 1.25rem,
    sm: 1.5rem,
    md: 2rem,
    lg: 3rem,
    xl: 3.5rem, 
);

@function responsive-sub-title($breakpoint) {
    @return map-get($subTitle, $breakpoint);
}

$font-h3: (
  xs: 1.125rem,
  md: 1.25rem,
  lg: 1.5rem,
  xl: 2rem,
  xxl: 2.5rem,
);

@function responsive-fonth3($breakpoint) {
  @return map-get($font-h3, $breakpoint);
}

// $font-title: (
//     xs:2.25rem,
//     md: 3.5rem,
//     lg: 4rem,
// );

// @function responsive-font-title($breakpoint) {
//   @return map-get($font-title, $breakpoint);
// }