@use '../variables/colors.scss' as colors;
@use '../variables//fonts.scss' as font;
$global-gutter-widths: (
    xs: 1rem,
    sm: 1.5rem,
    md: 2rem,
    lg: 2.5rem,
    xl: 3rem
);

@function global-gutter($breakpoint) {
    @return map-get($global-gutter-widths, $breakpoint);
};

@mixin responsive-spacing($property: padding, $direction: '', $gutter-map: $global-gutter-widths) {
    // Define which directions are valid for padding or margin
    $valid-directions: (
      '-x': ('left', 'right'),
      '-y': ('top', 'bottom'),
      '': ('')
    );
    
    $directions-to-use: map-get($valid-directions, $direction);
    
    @if $directions-to-use != null {
      @each $dir in $directions-to-use {
        #{$property}-#{$dir}: global-gutter(xs);
        
        @each $breakpoint, $value in $gutter-map {
          @if $breakpoint != xs {
            @media (min-width: #{map-get((
                sm: 576px,
                md: 768px,
                lg: 992px,
                xl: 1200px
            ), $breakpoint)}) {
              #{$property}-#{$dir}: global-gutter($breakpoint);
            }
          }
        }
      }
    } @else {
        @error "Invalid direction `#{$direction}` for #{$property}. Use '', '-x', or '-y'.";
    }
}

@mixin grid-layout(
  $columns: 1,
  $rows: auto,
  $gap: 1rem,
  $align-items: stretch,
  $justify-items: stretch,
  $align-content: start,
  $justify-content: start,
  $grid-template-areas: none
) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: $rows;
  gap: $gap;
  align-items: $align-items;
  justify-items: $justify-items;
  align-content: $align-content;
  justify-content: $justify-content;
  grid-template-areas: $grid-template-areas;
  margin: 0;
  padding: 0;
  
  // Additional utility for named grid areas
  @if $grid-template-areas != none {
    > * {
      @content;
    }
  }
}

// Example of how to use named areas within the mixin
@mixin grid-area($area-name) {
  grid-area: $area-name;
}

@mixin button-style(
    $border: none,
    $background: colors.colorTheme(app-red),
    $color: colors.colorTheme(app-white),
    $fontFamily: "Oxanium",
    $padding: 0,
    $text: capitalize,
    $cursor: pointer,
    $radius: 0,
    $weight: 600,
) {
    border: $border;
    border-radius: $radius;
    background-color: $background;
    padding: $padding;
    font-family: $fontFamily;
    font-weight: $weight;
    text-transform: $text;
    letter-spacing: 0.0675rem;
    cursor: $cursor;
}

@mixin enhanced-button-style(
  $border-color: colors.colorTheme(app-red),
  $background: transparent,
  $text-color: colors.colorTheme(app-white),
  $hover-background: colors.colorTheme(app-red),
  $hover-text-color: colors.colorTheme(app-white),
  $hover-border-color: colors.colorTheme(app-yellow),
  $fontFamily: "Oxanium",
  $padding: 12px 24px,
  $text-transform: uppercase,
  $cursor: pointer,
  $radius: 5px,
  $weight: 700
) {
  border: 2px solid $border-color;
  background-color: $background;
  color: $text-color;
  font-family: $fontFamily;
  font-weight: $weight;
  text-transform: $text-transform;
  letter-spacing: 0.0675rem;
  cursor: $cursor;
  border-radius: $radius;
  padding: $padding;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $hover-background;
    color: $hover-text-color;
    border-color: $hover-border-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
}

@mixin call-action {
    background-color: colors.colorTheme(yellow); 
    color: colors.colorTheme(black);
    border: none;
    font-weight: bold; 
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 0.875rem;
    padding: 12px 1rem;
    border-radius: 0;
    align-self: center;
    &:hover {
        background-color: colors.colorTheme(red); 
        color: colors.colorTheme(yellow); 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
        transform: translateY(-2px);
    }
}

@mixin links (
  $letter: 0.0875rem,
  $decoration: underline,
  $decorationColor: colors.colorTheme(app-yellow),
  $fontFamily: 'Oxanium, serif'
) {
  font-family: $fontFamily;
  letter-spacing: $letter;
  text-decoration: $decoration;
  text-decoration-color: $decorationColor;
  text-underline-offset: 4px;
}

// Mixin for navbar base styles
@mixin navbar-base( $padding: 0.5rem 1rem) {
  padding: $padding;
}

// Mixin for navbar brand
@mixin navbar-brand($color: colors.colorTheme(app-yellow), $font-size: 1.5rem, $margin-right: 1rem) {
  @include font.font-theme(title);
  color: $color;
  font-size: $font-size;
  margin-right: $margin-right;
}

// Mixin for navbar toggler
@mixin navbar-toggler($background: colors.colorTheme(app-red)) {
  border: none;
  border-radius: 0;
  padding: 0.25rem 0.75rem;
  background-color: $background;
  &:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

// Mixin for nav links
@mixin nav-link($color: colors.colorTheme(app-yellow), $font-size: 1rem) {
  @include font.font-theme(default);
  color: $color;
  font-size: $font-size;
  transition: color 0.3s ease;
  margin-right: 1rem;
  text-decoration: none;

  &:hover {
    color: colors.colorTheme(app-red);
  }
}

// Mixin for icon buttons (phone, location)
@mixin icon-button($background: colors.colorTheme(app-yellow), $color: colors.colorTheme(app-black), $hover-background: colors.colorTheme(app-red), $hover-color: colors.colorTheme(app-white)) {
  border-radius: 50%;
  transition: all 0.3s ease;
  justify-content: center;
  background-color: $background;
  color: $color;
  &:hover {
    background-color: $hover-background;
    color: $hover-color;
  }
}

// Mixin for tire icon
@mixin tire-icon($max-width: 6.25rem, $max-height: 6.25rem, $margin-right: 1rem) {
  max-width: $max-width;
  max-height: $max-height;
  margin-right: $margin-right;
  filter: brightness(150%); 
}

// Mixin for offcanvas header
@mixin offcanvas-header($background: colors.colorTheme(app-white), $color: colors.colorTheme(app-yellow), $padding: 1rem) {
  @include font.font-theme(title);
  color: $color;
  background: $background;
  padding: $padding;

  .tire-icon {
    @include tire-icon(4rem, 4rem, 0);
  }
}

// Mixin for offcanvas body
@mixin offcanvas-body($background: colors.colorTheme(app-black), $color: colors.colorTheme(app-yellow)) {
  background: $background;
  color: $color;
  
  .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    
    .nav-link-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1rem;
      
      .nav-link {
        @include nav-link($color);
      }
      
      .phone, .location {
        width: 3rem;
        height: 3rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .phone {
        @include icon-button(colors.colorTheme(app-yellow), colors.colorTheme(app-black), colors.colorTheme(app-red), colors.colorTheme(app-white));
      }
      
      .location {
        @include icon-button(colors.colorTheme(app-yellow), colors.colorTheme(app-black), colors.colorTheme(app-red), colors.colorTheme(app-white));
      }
    }
  }
}