@use '../variables/fonts.scss' as font;
@use '../variables/colors.scss' as colors;
@use '../variables/utils.scss' as util;

.service-container {
  @include util.flex-container(column,wrap,center,center);
  padding: 0 1rem;
  .service-row {
    .service-col {
      display: grid;
      gap: 1rem;

      .title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .more-tag {
          display: inline-block;
          align-self: flex-start;
          margin-left: 2rem;
        }
      }

      .service-card {
        display: grid;
        grid-template-rows: repeat(4, minmax(min-content,max-content));
        padding: 1rem;
        border: 1px solid colors.colorTheme(app-yellow);
        background-color: colors.colorTheme(app-black);
        color: colors.colorTheme(app-white);
        gap: 1rem;
        cursor: pointer;
        .service-image {
          grid-row: 2;
          width: 10rem;
          align-self: center;
          justify-self: center;
        }

          .service-title {
            grid-row: 1;
            align-self: start;
          }

          .service-title:hover {
            color: colors.colorTheme(app-yellow);
            cursor:pointer;
          }

          .card-body {
            grid-row: 3;
            align-self: end;
            padding: 1rem;
            .service-text {
              font-size: 14px;
              letter-spacing: 0.05rem;
            }
          }
        .service-btn {
          grid-row: 4;
          align-self: end;
          max-width: 220;
          justify-self: center;
          padding: 0.875rem 1rem;
          border: 1px solid colors.colorTheme(app-red);
          border-radius: 0;
          background-color: colors.colorTheme(app-black);
          letter-spacing: 0.08rem;
          box-shadow: inset 0 0 0 0 colors.colorTheme(app-black);
          transition: box-shadow 0.3s ease-in;
        }

        .service-btn:hover {
          box-shadow: inset 14em 0 0 0 colors.colorTheme(app-red);
          color: colors.colorTheme(app-black);
        }
      }
    }
  }

};

