@use '../variables/fonts.scss' as font;
@use '../variables/colors.scss' as colors;
@use '../variables/utils.scss' as util;

$original-width: 19.125rem; 
$original-height: 25.4375rem; 
$middle-height: 42.3125rem;
$middle-width: 31.6875rem;

.services-container {
  display: flex;
  background-color: #D3D3D3; 
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  .services-row {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;
    width: 100%;
    @media (min-width: 48rem) {
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      justify-content: space-around;
      padding: 2rem 0;
    }

    @media (min-width: 75rem) {
      justify-content: center;
      gap: 3rem;
    }

    .card {
      border-radius: 0;
      border: none;
      padding: 0;
      background-color: colors.colorTheme(app-red);
      width: 100%; 
      max-width: 100%; // Ensures it doesn't exceed screen width
      @media (min-width: 48rem) {
        width: auto;
        max-width: 14rem; // Reverts to fixed width at 48rem
      }

      .card-img {
        border-radius: 0;
        width: 100%;
        height: 5rem;
      }

      .muffler {
        width: 100%; // Match other images by taking full card width
        height: auto; // Maintain aspect ratio
      }

      .card-body {
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-family: "Syne", serif;
          font-size: 1.6rem;
          color: colors.colorTheme(app-yellow);
          padding: 1rem;
          text-transform: uppercase; 
          text-align: center;
        }
      }
    }

    .services-col {
      max-height: auto;
      @media (min-width: 62rem) {
        max-width: $original-width;
        max-height: $original-height;
      }

      .card-img {
        width: 100%;
        height: 16rem;
        @media (min-width: 62rem) {
          height: 100%;
        }
      }
    }

    .wheel {
      @media (min-width: 75rem) {
        max-width: $middle-width;
        height: 37.9375rem;
        max-height: 37.9375rem;
      }
    }
  }
}