@use '../variables/colors.scss' as colors;
@use '../../styles/variables/fonts.scss' as font;
@use '../variables/utils.scss' as util;

.homepage-container {
  @include util.grid-layout(
    $columns: 1, 
    $rows: auto,
    $gap: 0,
    $align-items: stretch,
    $justify-items: stretch,
    $align-content: start,
    $justify-content: start
  );
  max-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  .hero-card {

    @media (min-width: 90rem) {
      height: 100vh;
      overflow:hidden;
      .card {
        height: 100%;
        .card-img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .hero-image {
      border-radius: 0;
    }
    .hero-overlay {
      @include util.grid-layout(
        $columns: 1,
        $rows: repeat(3, 1fr),
        $gap: 0.5rem,
      );
      .navbar {
        grid-row: 1;
        grid-column: 1;
        .container {
          padding: 0.5rem;
        }
      }
      .hero-title {
        @include font.font-theme(title);
        color:colors.colorTheme(app-yellow);
        text-transform: uppercase;
        opacity: 0.85;
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        justify-self: center;
      }
      .app-btn {
        @include util.enhanced-button-style();
        grid-row: 3;
        grid-column: 1;
        align-self: start;
        justify-self: center;
      }
    }
  }
}