@use '../variables/colors.scss' as colors;
@use '../variables/fonts.scss' as font;
@use '../variables/utils.scss' as util;


.homepage-Container, 
.card-img-overlay,
.services-container,
.services-icon-col,
.hero-mission,
.service-icon-container {
    @include util.flex-container();
    @include util.gap(sm);

}

@media (min-width: 768px) {
    .hero-mission,
    .services-container,
    .services-icon-col {
        @include util.gap(md);
    }
}

.homepage-container {
    .hero-card {
        .card-img-overlay {
            padding: util.gutter(sm);
            background-color: rgba(0,0,0,0.3);
        }

        .hero-title {
            @include font.font-theme(title);
            text-shadow: 0px 2px 4px rgba(0,0,0,0.8);

            @media (min-width: 768px) {
                font-size: font.responsive-font-title(md);
            }

            @media (min-width: 992px) {
                font-size: 3.5rem;
            }
        }

        .hero-text {
            @include font.font-theme(subTitle); 
            font-size: font.responsive-sub-title(xs);
            text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
            color: colors.colorTheme(white);
            max-width: 90%;
            
            @media (min-width:576px) {
                font-size: font.responsive-sub-title(sm);
                max-width: 55%;
            }

            @media (min-width: 768px) {
                font-size: font.responsive-sub-title(md);
                max-width: 50%;
            }
        }
    }

    .hero-mission {
        @include util.flex-container(column,wrap,center,center);
        @include util.margin(top, top);

        @media (min-width: 768px) {
            .mission-title-col {
                padding-left: util.gutter(lg);
            }
        }

        .mission-statement {
            padding: 0 util.gutter(lg);
        }
    }
}

.services-container {
    .services-icon-col {
        .service-title {
            color: colors.colorTheme(red);
            line-height: 1.2;
            letter-spacing: 0.3rem;
            max-width: 55%;
            @include util.margin(auto);

            @media (min-width:576px) {
                max-width: 35%;
            }

            @media (min-width:768px) {
                max-width: 55%;
                @include util.margin(default);
                padding-left: util.gutter(lg);
            }
        }
        .service-icon-container {
            @include util.flex-container(row,wrap,center,center);
            width: 100%;

            @media (min-width: 768px) {
                @include util.flex-container(row, wrap, space-around,center);
            }
        }
    }

    .services-info-col {
        @include util.flex-container(column,wrap,center,center);
    }
}